services:
  - type: web
    name: backend
    runtime: docker
    region: oregon
    plan: free
    healthCheckPath: /health
    dockerfilePath: ./Dockerfile
    dockerContext: .
    envVars:
      - key: PYTHON_VERSION
        value: 3.11
